[alias]
{% for key, value in git.settings.alias.iteritems() %}
  {{ key }} = {{ value }}
{% endfor %}

[branch]
{% for key, value in git.settings.branch.iteritems() %}
  {{ key }} = {{ value }}
{% endfor %}

[core]
{% for key, value in git.settings.core.iteritems() %}
  {{ key }} = {{ value }}
{% endfor %}

[color]
{% for key, value in git.settings.color.iteritems() %}
  {{ key }} = {{ value }}
{% endfor %}

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = blue black bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[diff]
  renames = copies

[format]
  pretty = "%n%n%nCommit:  %C(yellow)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %ai%nSubject: %s%b"

[merge]
{% for key, value in git.settings.merge.iteritems() %}
  {{ key }} = {{ value }}
{% endfor %}

[push]
{% for key, value in git.settings.push.iteritems() %}
  {{ key }} = {{ value }}
{% endfor %}
