[alias]
  apply = apply --index
  # Useful aliases
  # cf. https://git.wiki.kernel.org/index.php/Aliases
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  ds = diff --staged
  lg = log -p
  who = shortlog -s --
[branch]
  autosetuprebase = always
[core]
  autocrlf = false
  safecrlf = false
  ignorecase = false
  excludesfile = ~/.gitignore
  editor = {{ git.settings.core.editor | default('mcedit') }}
[color]
  diff = true
  status = true
  branch = true
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = blue black bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  renames = copies
[format]
  pretty = "%n%n%nCommit:  %C(yellow)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %ai%nSubject: %s%b"
[merge]
  tool = {{ git.settings.merge.tool | default('meld') }}
[push]
  default = {{ git.settings.push.default | default('upstream') }}
