# Virtual host config for host {{ item.key }}

<VirtualHost {% if item.value.listen is defined %}{{ item.value.listen|join(' ') }}{% else %}{{ apache.listen|join(' ') }}{%
endif %}>

  DocumentRoot {{ item.value.root }}
  ServerName {{ item.value.name }}
{% if item.value.aliases is defined %}
{% for ServerAlias in item.value.aliases %}
  ServerAlias {{ ServerAlias }}
{% endfor %}
{% endif %}
  ErrorLog /var/log/apache2/{{ item.key }}-error.log
  CustomLog /var/log/apache2/{{ item.key }}-access.log combined

{% if item.value.settings is defined %}
  {{ item.value.settings|indent(2) }}
{% endif %}

</VirtualHost>
